.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.parent div{
    border: solid black 3px;
    height: 60px;
    width: 60px;
}